
.headerGif{
    width: 600px;
    height: 400px;
    
}

.baio{
    padding-top: 100px;
    text-align: center;
}
.skills{
    padding-top: 100px;
    
}
.personalSkills{
    padding-top: 30px;

}

 @media only screen and (max-width: 600px)  {
    .headerGif{
        width: 90vw;
        height: 56vh;
        text-align: center;
        
    }
       
    .baio{
        padding-top: 10px;
        padding-bottom: 10px;
        
    }

} 