.row{
    
    justify-content: center;
    text-align: center;
    
    }
  .Pcard{
    width: auto ; 
    min-height: 570px;
    
  } 
  .imgCard{
    height: 220px;  
  }
  .PcardText{
    height: 65%;  
  } 
  @media (max-width: 1000px) {
    .pcard{
      height: 800px;
    }
    
  }
   
    