.link{
    color: white;
     text-decoration: none;
    
}

.link:hover , .link:active , .active{
  color: rgb(201, 198, 198);
  text-decoration: none;  
  padding-bottom: 0.25rem;
  border-bottom: 4px solid  rgb(201, 198, 198);
}